In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/srinivasav22/Graduate-Admission-Prediction/master/Admission_Predict_Ver1.1.csv")

In [2]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [5]:
df.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Serial No.,500.0,250.50000,144.481833,1.00,125.7500,250.50,375.25,500.00
GRE Score,500.0,316.47200,11.295148,290.00,308.0000,317.00,325.00,340.00
TOEFL Score,500.0,107.19200,6.081868,92.00,103.0000,107.00,112.00,120.00
University Rating,500.0,3.11400,1.143512,1.00,2.0000,3.00,4.00,5.00
SOP,500.0,3.37400,0.991004,1.00,2.5000,3.50,4.00,5.00
LOR,500.0,3.48400,0.925450,1.00,3.0000,3.50,4.00,5.00
CGPA,500.0,8.57644,0.604813,6.80,8.1275,8.56,9.04,9.92
Research,500.0,0.56000,0.496884,0.00,0.0000,1.00,1.00,1.00
Chance of Admit,500.0,0.72174,0.141140,0.34,0.6300,0.72,0.82,0.97

In [9]:
x=df.drop('Research',axis=1)

In [10]:
x.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,0.92
1,2,324,107,4,4.0,4.5,8.87,0.76
2,3,316,104,3,3.0,3.5,8.00,0.72
3,4,322,110,3,3.5,2.5,8.67,0.80
4,5,314,103,2,2.0,3.0,8.21,0.65

In [11]:
y=df['Research']

In [12]:
y.head()

0    1
1    1
2    1
3    1
4    0
Name: Research, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [14]:
x_train.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit
471,472,311,103,3,2.0,4.0,8.09,0.64
26,27,322,109,5,4.5,3.5,8.80,0.76
7,8,308,101,2,3.0,4.0,7.90,0.68
453,454,319,103,3,2.5,4.0,8.76,0.73
108,109,331,116,5,5.0,5.0,9.38,0.93

In [15]:
x_test.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit
361,362,334,116,4,4.0,3.5,9.54,0.93
73,74,314,108,4,4.5,4.0,9.04,0.84
374,375,315,105,2,2.0,2.5,7.65,0.39
155,156,312,109,3,3.0,3.0,8.69,0.77
104,105,326,112,3,3.5,3.0,9.05,0.74

In [16]:
from sklearn.preprocessing import StandardScaler

In [18]:
scaler = StandardScaler()

In [19]:
scaler.fit(x_train)

StandardScaler()

In [20]:
print(scaler.mean_)

[255.35820896 316.7641791  107.31343284   3.09552239   3.38059701
   3.50149254   8.58498507   0.7261194 ]

In [21]:
x_train_tf = scaler.transform(x_train)

In [22]:
x_train_tf

array([[ 1.55816388e+00, -5.25174731e-01, -7.06985745e-01, ...,
         5.38819022e-01, -8.35765678e-01, -6.17240601e-01],
       [-1.64243247e+00,  4.77035981e-01,  2.76433873e-01, ...,
        -1.61323061e-03,  3.63045482e-01,  2.42831224e-01],
       [-1.77908715e+00, -7.98504925e-01, -1.03479228e+00, ...,
         5.38819022e-01, -1.15657430e+00, -3.30549992e-01],
       ...,
       [ 6.73504661e-01, -1.34516531e+00, -1.36259882e+00, ...,
        -1.62290999e+00, -2.25407747e+00, -1.11894917e+00],
       [ 1.29923923e+00, -7.07394861e-01, -3.79179206e-01, ...,
         5.38819022e-01, -1.52803691e+00, -1.26229447e+00],
       [-1.09581377e+00, -2.51844537e-01, -2.15275936e-01, ...,
        -1.61323061e-03, -5.65611050e-01, -7.60585905e-01]])

In [29]:
x_test_tf = scaler.transform(x_test)

In [30]:
x_test_tf

array([[ 7.67005229e-01,  1.57035676e+00,  1.42375676e+00, ...,
        -1.61323061e-03,  1.61251063e+00,  1.46126631e+00],
       [-1.30439196e+00, -2.51844537e-01,  1.12530603e-01, ...,
         5.38819022e-01,  7.68277423e-01,  8.16212441e-01],
       [ 8.60505796e-01, -1.60734472e-01, -3.79179206e-01, ...,
        -1.08247774e+00, -1.57869090e+00, -2.40905690e+00],
       ...,
       [ 1.24889277e+00, -6.96244077e-02, -7.06985745e-01, ...,
         1.07925128e+00,  2.61737496e-01, -2.58877340e-01],
       [-1.62085542e+00, -6.16284796e-01, -1.36259882e+00, ...,
        -1.62290999e+00, -2.16965415e+00, -1.33396712e+00],
       [ 1.31362393e+00,  2.14856571e-02, -2.15275936e-01, ...,
        -1.61323061e-03, -1.57869090e+00, -8.32258557e-01]])

In [23]:
y

0      1
1      1
2      1
3      1
4      0
      ..
495    1
496    1
497    1
498    0
499    0
Name: Research, Length: 500, dtype: int64

In [26]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [27]:
model2 = LogisticRegression()

In [28]:
model2

LogisticRegression()

In [31]:
model2.fit(x_train_tf,y_train)

LogisticRegression()

In [33]:
y_predict = model2.predict(x_test_tf)

In [34]:
accuracy_score(y_test,y_predict)

0.7515151515151515